.section {
  position: relative;
  height: 100%;
  min-height: 854px;
  padding-top: 28px;
  padding-bottom: 196px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: url(/images/backgrounds/brush-strokes.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
}

.frame {
  width: 100%;
  padding: 38px 102px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(/images/backgrounds/basic-frame.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.swiper {
  width: 100%;
  max-width: 568px;
  position: relative;
  cursor: grab;
  user-select: none;
}

.swiper:active {
  cursor: grabbing;
}

.swiper:after {
  content: '';
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: 0;
  right: 0;
  box-shadow: inset 25px 0px 10px -5px rgb(250, 232, 209),
    inset -25px 0px 10px -5px rgb(255, 239, 219);
  z-index: 1;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
}
