.teamMember {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatarContainer {
  border-radius: 1000px;
  overflow: hidden;
  width: 100px;
  height: 100px;
}

.name {
  margin-top: 31px;
  text-align: center;
  color: var(--white);
}

.description {
  margin-top: 18px !important;
  text-align: center !important;
  color: var(--dawn-pink) !important;
}

.socialLink {
  justify-self: end;
  margin-top: 22px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .avatarContainer {
    width: 160px;
    height: 160px;
  }

  .name {
    font-size: 24px;
    line-height: 29px;
  }
}
