.footer {
  position: relative;
  background: var(--coffee-bean);
  padding: 37px 0;
}

.container {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.copyright,
.privacy {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-align: left;
  color: var(--taupe-gray);
}

.privacy {
  margin-top: 16px;
}

/* Extra small devices */
@media (min-width: 320px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    flex-direction: row;
  }

  .privacy {
    margin-top: unset;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .copyright,
  .privacy {
    font-size: 16px;
    line-height: 24px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
