.card {
  position: relative;
  margin: 2px;
  padding: 20px;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  background: url('/images/noise.png');
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
}

.title,
.description {
  text-align: center;
  color: var(--white);
}

.cta {
  margin-top: 37px;
  color: var(--black);
  background: var(--white);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card {
    padding: 50px;
  }
}
