.card {
  position: relative;
  margin: 2px;
  padding: 50px;
  background: url('/images/noise.png');
  backdrop-filter: blur(140px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.noiseContainer {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.noise {
  filter: blur(1px);
}

.title,
.description {
  text-align: center;
  color: var(--white);
}
