.text {
  font-family: Outfit;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--old-copper);
}

.text a {
  text-decoration: underline;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .text {
    font-size: 18px;
    line-height: 27px;
  }
}
