.button {
  width: 100%;
  height: fit-content;

  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;

  display: inline-block;

  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;

  text-align: center;
  text-transform: uppercase;
}

.button.primary {
  color: var(--cioccolato);
  background: var(--gold);
}

.button.secondary {
  background: none;
  color: var(--cioccolato);
  border: 1px solid var(--cioccolato);
}
