.button {
  width: 100%;
  height: fit-content;

  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 5px;

  display: inline-block;

  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;

  text-align: center;
  text-transform: uppercase;

  transition: all 0.1s ease-in-out;
}

.button:hover {
  transform: translateY(4px);
}

.button.primary {
  padding-bottom: 16px;
  color: var(--cioccolato);
  background: var(--gold);
  box-shadow: 0px 4px 0px #f8b12f;
}

.button.primary:hover {
  color: var(--gold);
  background: var(--cioccolato);
  box-shadow: 0px 0px 0px #f8b12f;
}

.button.secondary {
  background: #00000000;
  color: var(--cioccolato);
  border: 1px solid var(--cioccolato);
}

.button.secondary:hover {
  color: var(--gold);
  background: var(--cioccolato);
  border: 1px solid #00000000;
}
