.section {
  position: relative;
  padding-bottom: 150px;
}

.container {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.teamMembers {
  width: 100%;
  margin-top: 71px;
  list-style: none;
  display: grid;
  gap: 32px normal;
}

.teamMembers li {
  height: 100%;
  display: flex;
  justify-content: center;
}

.teamMember {
  flex: 1;
  height: 100%;
  max-width: 396px;
  align-items: center;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .teamMembers {
    grid-template-columns: repeat(2, 1fr);
  }

  .teamMember {
    max-width: 230px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .teamMember {
    max-width: 292px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .section {
    padding-bottom: 230px;
  }

  .teamMembers {
    gap: 78px normal;
    grid-template-columns: repeat(3, 1fr);
  }
}
