.section {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: url(/images/backgrounds/office.jpg);
  background-size: 100%;
}

.container {
  flex-direction: column;
  align-items: center;
}

.subtitle {
  color: var(--white);
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.link {
  width: 100%;
  max-width: 280px;
  padding-top: 43px;
  padding-bottom: 37px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background: url(/images/backgrounds/small-frame.jpg);
  background-size: 100%;
}

.link + .link {
  margin-top: 40px;
}

.network {
  font-family: Rowdies;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: var(--cornflower-blue);
}

/* Extra small devices */
@media (min-width: 320px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .list {
    flex-direction: row;
  }

  .link {
    min-height: 182px;
  }

  .link + .link {
    margin-top: 0;
    margin-left: 32px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
