.subtitle {
  font-family: Rowdies;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--cioccolato);
}

.h4,
.h5 {
  font-size: 24px;
  line-height: 38px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .subtitle {
    font-size: 48px;
    line-height: 60px;
  }

  .h4 {
    font-size: 40px;
    line-height: 38px;
  }

  .h5 {
    font-size: 32px;
    line-height: 48px;
  }
}
