.navbar {
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0px 10px 30px 0px #00000080;
}

.container {
  flex-direction: column;
  align-items: center;
}

.navItems {
  width: 100%;
  max-width: 702px;
  margin-top: 29px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.navLink {
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--black);
  text-transform: uppercase;
}
