.section {
  width: 100%;
  padding: 100px 0;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin-bottom: 56px;
}

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
}

.tdata {
  padding-top: 7px;
  font-family: Kanit;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.03em;
  text-align: right;
  color: var(--white);
  border: 3px solid var(--white);
}

.tdata:first-child {
  text-align: left;
}

.tdata:nth-child(2) {
  padding-right: 4px;
  width: 88px;
}

.backgroundContainer {
  z-index: -1;
  display: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .tdata {
    padding-top: 12px;
    font-size: 20px;
    line-height: 32px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .subtitle {
    font-size: 32px;
  }

  .content {
    width: 100%;
  }

  .table {
    max-width: 64%;
  }

  .tdata {
    font-size: 18px;
    line-height: 24px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .subtitle:not(.mobile) {
    font-size: 48px;
    left: 14.7%;
  }

  .table {
    max-width: 627px;
  }

  .tdata {
    font-size: 24px;
    line-height: 36px;
  }

  .backgroundContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .subtitle:not(.mobile) {
    left: 16.7%;
  }
}
