.section {
  position: relative;
  min-height: 378px;
  background: url(/images/backgrounds/coins-blurred-bkg.png);
  background-size: 400%;
  /* section inset shadow  */
  box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.4);
}

.container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}

.frame {
  width: 100%;
  min-height: 365px;
  padding: 40px 24px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: url(/images/backgrounds/2-vertical-framepng);
  background-size: cover;
  background-repeat: no-repeat;
}

.headline,
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  margin-top: 24px;
}

.features {
  list-style: none;
}

.feature {
  display: flex;
  margin-top: 8px;
}

.featText {
  margin-left: 16px;
}

.cta {
  width: 100%;
  margin-top: 40px;
}

/* Extra small devices */
@media (min-width: 320px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .section {
    min-height: 432px;
    background-size: 200%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section {
    min-height: 432px;
    background-size: 150%;
  }

  .cta {
    margin-top: 33px;
    max-width: 212px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .section {
    background-size: 100%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .frame {
    padding: 0 72px 32px 104px;
    flex-direction: row;
    background: url(/images/backgrounds/3d-frame.png);
  }

  .content,
  .headline {
    align-items: flex-start;
  }
}
