.section {
  position: relative;
  padding: 92px 0;
  overflow: hidden;
}

.container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col + .col {
  margin-left: 46px;
}

.card {
  max-width: 566px;
}

.card + .card {
  margin-top: 46px;
}

.backgroundContainer {
  position: absolute;
  inset: 0;
  z-index: -1;
}
