.section {
  position: relative;
  padding: 92px 0;
  overflow: hidden;
}

.container {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  margin-top: 32px;
  max-width: 566px;
}

.backgroundContainer {
  position: absolute;
  inset: 0;
  z-index: -1;
}

/* Extra small devices */
@media (min-width: 320px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    flex-direction: row;
  }

  .col + .col {
    margin-left: 46px;
  }

  .card {
    margin-top: unset;
  }

  .card + .card {
    margin-top: 46px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
